<h1 style="text-align:center">All Cars</h1>
<div class="cards">
  <% @cars.each do |car| %>
    <div class="card-trip">
      <%= link_to car_path(car) do %>
        <img src="https://source.unsplash.com/collection/2328095/1600x900" />
      <% end %>
      <div class="card-trip-infos">
        <div>
          <h2><%= car.make %> <%= car.model%></h2>
          <p><%= car.year%></p>
        </div>
        <h2 class="card-trip-pricing">¥<%= car.price %></h2>
        <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="avatar-bordered" />
      </div>
    </div>
  <% end %>
</div>
